Repository Bestagons/quack, changes with the owners that CODEOWNERS names for each.
All owners: @RafaelPiloto10, @brendacano, @MimiOlayeye, @oreorz

CODEOWNERS:

# Languages

# Java
*.java @RafaelPiloto10 @brendacano @MimiOlayeye @oreorz

# Python
*.py @RafaelPiloto10 @brendacano @MimiOlayeye @oreorz

# Golang
*.go @RafaelPiloto10

# JavaScript
*.js @RafaelPiloto10 @brendacano

# Markdown
*.md @RafaelPiloto10

# TypeScript
*.ts @brendacano

# C#
*.cs @brendacano

# HTML
*.html @RafaelPiloto10 @brendacano

# C
*.c @MimiOlayeye

Add dart.yml for CI
  .github/workflows/dart.yml
Owners: none

Update dart.yml
  .github/workflows/dart.yml
Owners: none

Update dart.yml
  .github/workflows/dart.yml
Owners: none

Update dart.yml
  .github/workflows/dart.yml
Owners: none

Update and rename dart.yml to flutter_ci.yml
  .github/workflows/flutter_ci.yml
Owners: none

Add assets: logo & zoom background
  quack_app/assets/logo.png
  quack_app/assets/zoom_background.png
Owners: none

Create deploy_app_backend_production.yml
  .github/workflows/deploy_app_backend_production.yml
Owners: none

Create deploy_dct_backend_production.yml
  .github/workflows/deploy_dct_backend_production.yml
Owners: none

Delete deploy_dct_backend_production.yml
  .github/workflows/deploy_dct_backend_production.yml
Owners: none

Update and rename deploy_app_backend_production.yml to deploy_prod.yml
  .github/workflows/deploy_app_backend_production.yml
  .github/workflows/deploy_prod.yml
Owners: none

Create deploy_staging.yml
  .github/workflows/deploy_staging.yml
Owners: none

Update deploy_prod.yml
  .github/workflows/deploy_prod.yml
Owners: none

Update deploy_staging.yml
  .github/workflows/deploy_staging.yml
Owners: none

Add 1 issue template
  .github/ISSUE_TEMPLATE/organizational-ticket.md
Owners: @RafaelPiloto10

Update Organizational ticket issue template
  .github/ISSUE_TEMPLATE/organizational-ticket.md
Owners: @RafaelPiloto10

Fix Trade Offs, Make Milestones a checklist, add contributors
  README.md
Owners: @RafaelPiloto10

add badges
  README.md
Owners: @RafaelPiloto10

add badges
  README.md
Owners: @RafaelPiloto10

Add / route for dct backend
  dct_backend/requirements.txt
  dct_backend/server.py
Owners: @RafaelPiloto10, @brendacano, @MimiOlayeye, @oreorz

Updated README
  dct_backend/README.md
Owners: @RafaelPiloto10

Update flutter_ci.yml
  .github/workflows/flutter_ci.yml
Owners: none

Add myself to contributors
  README.md
Owners: @RafaelPiloto10

Create dct_backend_CI.yml
  .github/workflows/dct_backend_CI.yml
Owners: none

Update flutter_ci.yml
  .github/workflows/flutter_ci.yml
Owners: none

add tests
  dct_backend/requirements.txt
  dct_backend/server_test.py
Owners: @RafaelPiloto10, @brendacano, @MimiOlayeye, @oreorz
