Repository Bestagons/quack, changes with the owners that CODEOWNERS names for each.
All owners: @RafaelPiloto10, @brendacano, @MimiOlayeye, @oreorz, @DDavid223, @Foxworth22

CODEOWNERS:

# Languages

# Java
*.java @RafaelPiloto10 @brendacano @MimiOlayeye @oreorz @DDavid223

# Python
*.py @RafaelPiloto10 @brendacano @MimiOlayeye @oreorz @DDavid223

# Golang
*.go @RafaelPiloto10

# JavaScript
*.js @RafaelPiloto10 @brendacano @Foxworth22

# Markdown
*.md @RafaelPiloto10

# TypeScript
*.ts @brendacano

# C#
*.cs @brendacano

# HTML
*.html @RafaelPiloto10 @brendacano

# C
*.c @MimiOlayeye

# Swift
*.Swift @DDavid223

Added golden toolkit so that the golden test can load fonts
  quack_app/.gitignore
  quack_app/pubspec.yaml
  quack_app/test/golden_widget_test.dart
Owners: none

Add main.png
  quack_app/test/main.png
Owners: none

Update flutter version in CI
  .github/workflows/flutter_ci.yml
Owners: none

Add temp file to force CI update
  quack_app/test/temp
Owners: none

Add constraint for screen resolution
  quack_app/test/golden_widget_test.dart
  quack_app/test/main.png
Owners: none

Don't know what changed but something changed in main.png
  quack_app/test/main.png
  quack_app/test/temp
Owners: none

Run flutter CI on macos-latest
  .github/workflows/flutter_ci.yml
Owners: none

Generate golden files on mac
  quack_app/test/main.png
Owners: none

Implement / Route for App Backend
  app_backend/README.md
  app_backend/server.py
  app_backend/server_test.py
Owners: @RafaelPiloto10, @brendacano, @MimiOlayeye, @oreorz, @DDavid223

Add code coverage to flutter tests
  .github/workflows/flutter_ci.yml
Owners: none

Fix code coverage versioning
  .github/workflows/flutter_ci.yml
Owners: none

Change test file name and change test widget to test goldens
  quack_app/test/golden_widget_test.dart
  quack_app/test/goldens/Homepage.png
Owners: none

Add dart_test.yaml
  quack_app/dart_test.yaml
Owners: none

Add Groups to test
  quack_app/test/golden_widget_test.dart
Owners: none

Rename test
  quack_app/test/golden_widget_test.dart
  quack_app/test/goldens/homepage_test.png
Owners: none

Rename test
  quack_app/test/golden_widget_test.dart
  quack_app/test/goldens/homepage_ui_test.png
Owners: none

Rename test
  quack_app/test/main_test.dart
Owners: none

Update issue templates
  .github/ISSUE_TEMPLATE/-story_points-pts--feature-request.md
Owners: @RafaelPiloto10

Add @oreorz to contributors
  README.md
Owners: @RafaelPiloto10

add code coverage badge
  README.md
Owners: @RafaelPiloto10

Update deploy_prod.yml
  .github/workflows/deploy_prod.yml
Owners: none

Update deploy_prod.yml
  .github/workflows/deploy_prod.yml
Owners: none

Update dct_backend_CI.yml
  .github/workflows/dct_backend_CI.yml
Owners: none

Create app_backend_CI.yml
  .github/workflows/app_backend_CI.yml
Owners: none

Add backend CI badges
  README.md
Owners: @RafaelPiloto10

Add requirements.txt to app_backend
  app_backend/requirements.txt
Owners: none

Updated backend README's to include install instructions
  app_backend/README.md
  dct_backend/README.md
Owners: @RafaelPiloto10
